.results-container {
  display: flex;
  color: white;
  align-items: center;
  gap: 3.25rem;
  /* overflow: hidden; */
  padding: 4rem;
  /* border: 2px solid red; */
}

.results-column {
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.no-pointer {
  pointer-events: none;
}

.results-column h3 {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

.choice-btn-silhouette {
  /* background: var(--navyblue); */
  border-radius: 50%;
  height: 165px;
  width: 165px;
  overflow: hidden;
  position: relative;
}

.choice-btn-silhouette::before {
  content: "";
  background: var(--navyblue);
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: absolute;
  top: 5px;
  left: 13px;
}

.results-choice-btn-div {
  transform: translateY(25rem);
  animation: riseup 2s var(--i) forwards;
}

.victory {
  /* box-shadow: 0px 0px 20px red, 0px 0px 40px red, 0px 0px 80px red,
    0px 0px 120px red, 0px 0px 220px red, 0px 0px 300px; */

  animation: flashing-shadow 3s 2s infinite;
}

@keyframes flashing-shadow {
  0% {
    box-shadow: 0px 0px 2px var(--color), 0px 0px 4px var(--color),
      0px 0px 8px var(--color), 0px 0px 12px var(--color),
      0px 0px 22px var(--color), 0px 0px 30px;
  }
  50% {
    box-shadow: 0px 0px 60px var(--color), 0px 0px 80px var(--color),
      0px 0px 160px var(--color), 0px 0px 120px var(--color),
      0px 0px 300px var(--color), 0px 0px 400px;
  }

  100% {
    box-shadow: 0px 0px 2px var(--color), 0px 0px 4px var(--color),
      0px 0px 8px var(--color), 0px 0px 12px var(--color),
      0px 0px 22px var(--color), 0px 0px 30px;
  }
}

@keyframes riseup {
  0% {
    transform: translateY(18rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.play-again-btn {
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.25rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  transition: 0.5s ease;
}

.play-again-btn:hover {
  color: red;
  border: 1px solid red;
}

@media screen and (max-width: 850px) {
  /* .choice-btn {
    height: 135px;
    width: 135px;
  }

  .choice-icon-div {
    height: 105px;
    width: 105px;
  } */

  .results-container {
    flex-direction: column;
  }

  .choice-btn-silhouette {
    height: 135px;
    width: 135px;
  }
}

@media screen and (max-width: 450px) {
  .choice-btn-silhouette {
    height: 115px;
    width: 115px;
  }
}
