.advanced-version-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}

.advanced-column {
  position: relative;
}

.long-row {
  display: flex;
  width: 500px;
  /* border: 2px solid red; */
  justify-content: space-between;
  margin-bottom: 4.5rem;
}

.medium-row {
  display: flex;
  width: 400px;
  /* border: 2px solid red; */
  justify-content: space-between;
  align-items: center;
}

.advanced-line {
  background: var(--navyblue);
  width: 200px;
  height: 1.5rem;
  position: absolute;
  z-index: 1;
  transition: 0.5s ease;
}

.advanced-top-left-line {
  transform: translate(5rem) rotate(-45deg);
}

.advanced-top-right-line {
  transform: translate(-8rem) rotate(45deg);
}

.advanced-bottom-left-line {
  transform: translate(2rem) rotate(65deg);
}

.advanced-bottom-right-line {
  transform: translate(-2rem) rotate(-65deg);
}

.advanced-bottom-line {
  /* right: 
  top: 45%; */
  /* border: 3px solid red; */
  width: 300px;
  /* background: red; */
}
@media screen and (max-width: 750px) {
  .long-row {
    width: 450px;
  }

  .medium-row {
    width: 325px;
  }
}

@media screen and (max-width: 450px) {
  .advanced-line {
    width: 100%;
  }
  /* .advanced-top-left-line {
    transform: translate(2rem) rotate(-45deg);
  }  */

  .advanced-bottom-line {
    width: 200px;
    /* background: red; */
  }
  .long-row {
    width: 350px;
  }

  .medium-row {
    width: 300px;
  }

  .advanced-version-container {
    padding: 6rem 0;
  }
}
