.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(50%, 600px, 100%);
  border-radius: 1.25rem;
  padding: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.header-h1 {
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 2.8rem;
  text-shadow: 1px 1px 1px black;
}

.score-div {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 2px 3px 5px var(--darktext);
  text-align: center;
}

.score-h3 {
  color: var(--scoretext);
}

.score-h1 {
  font-size: 5rem;
  color: var(--darktext);
}
